<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <!-- <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/> -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="/data/logs/tomcat/springboot-mybatis.log"
                     filePattern="/data/logs/tomcat/springboot-mybatis.%d{yyyy-MM-dd}">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss SSS}[%5p][%t][%c{1}:%L%X{logMark}]:%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <!--  	<SizeBasedTriggeringPolicy size="100 MB" />         -->
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="all" >
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </root>
    </loggers>
</configuration>